<div ng-if="homeCtrl.loaded">
	<h2>Welcome to Minerva</h2>
	<p>
		Below you will find cards representing the projects for each of your classes.  Selecting a card will
		bring you to a page allowing you to interact with that project.
	</p>
	<br>
	<!-- Display Courses -->
	<div id="courses" ng-repeat="course in homeCtrl.courses">
		<div class="container">
		<a style="float:right" ng-if="app.user.professor" ng-click="course.addProject=true">Add Project</a>
		<h3>{{course.name}}</h3>
		<hr>
		<!-- Existing Projects -->
		<div class="col-sm-6 col-xs-12 text-center panel panel-default hover" 
				ng-click="homeCtrl.gotoProject(project.id);" ng-repeat="project in course.projects">
			<a style="float:right" ng-if="app.user.professor">Remove</a>
			<h4 class="text-left">{{project.name}}</h4><hr>
			<p class="text-left compressed"><b>Notifications</b></p>
			<p class="compressed" ng-repeat="notification in project.notifications | limitTo:2" 
				ng-if="project.notifications.length > 0">
				{{notification}}
			</p>
			<p class="compressed" ng-if="project.notifications.length == 0">
				No Notifications
			</p>
			<p class="compressed" ng-if="project.notifications.length < 2">
				&nbsp;
			</p>
			<p class="text-left compressed"><b>Assigned Team</b></p>
			<p class="compressed">{{project.team}}</p><hr><br>
		</div>
		<!-- Add a new project -->
		<div class="col-sm-6 col-xs-12 text-center panel panel-default hover" 
				ng-if="course.addProject">
			<h4 class="text-left"><input type="text"/></h4>
			<hr>
			<p class="text-left compressed"><b>Description</b></p>
			<input style="width:100%;height:67px;" type="area"/>
			<hr>
			<button style="float:right" class="button" ng-if="app.user.professor">
				Submit
			</button>
			<button style="float:right" ng-click="course.addProject=false" ng-if="app.user.professor">
				Cancel
			</button>
			<br>&nbsp;
		</div>
		</div>
	</div>
</div>
